* {
  margin: 0;
  padding: 0;
}

form {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

label {
  display: inline-block;
}

form input, form textarea {
  font-family: 'Arial';
  font-size: larger;
  padding: .4rem;
  margin: .5rem 40px;
  border-radius: 5px;
  border: 1px solid #0202a7;
  width: 40%;
}

#lastname {
  margin-left: 41px;
}

#phonenumber {
  margin-left: 8px;
}

#message {
  margin-left: 52px;
}

.form {
  background-color: rgb(2, 2, 167);
  color: white;
  padding: 5vh 5vw;  
  font-weight: bolder;
}

