main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.likes {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 0 5px #0045B2;
  padding: 1rem;
  display: grid;
  justify-items: center;
  align-items: center;
  margin: 1rem auto;
}

.even {
  background-color: #FA8072;
}

.odd {
  background-color: #9F5F56;
}

.btn {
  background-color: #FFE5DD;
  border: none;
  box-shadow: 0 0 5px #0045B2;
  padding: 1rem;
  border-radius: 5px;
  font-size: large;
  margin: 1rem;
}

.btn:hover {
  background-color: #FA8072;
}

.btn:active {
  text-decoration: underline;
}