.likes {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 0 5px rosybrown;
  padding: 1rem;
  display: grid;
  justify-items: center;
  text-align: center;
}

.even {
  background-color: blue;
}

.odd {
  background-color: red;
}
