@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
}

.box {
  background-color: #ffe4c4;
  margin: 5vh 2vw;
  padding: 2rem;
  border-radius: 3px;
}

button {
  padding: 1rem 2rem;
  margin-right: 2rem;
  border-radius: 5px;
  border: none;
  background-color: #CDB6BA;
  box-shadow: 0 3px 3px #FF8961, 0 0 2px #FF8961;
  font-size: medium;
}
