@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

h1 {
  margin: 3vh 5vw;
}

.formView {
  margin: 1rem 2rem;
  background-color: #F9EAFF;
  box-shadow: 0 0 3px #665584;
  border-radius: 5px;
}

.formView div {
  display: block;
  border-bottom: 1px dashed #665584;
  padding: .6rem 0 .4rem 5vw;
}

.formView div:last-child {
  border-bottom: none;
}

p {
  font-family: 'Dancing Script', cursive;
  font-size: large;
  display: inline-block;
  margin-left: 2vw;
}

