* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

main {
  background-color: #4A4857;
  color: white;
  height: 100vh;
  overflow: auto;
} 

logo {
  float: left;
  padding: 1rem 2rem;
  font-weight: bolder;
}

nav {
  background-color: #333333;
  color: white;
}

nav ul {
  list-style-type: none;
  text-align: right;
}

nav ul li {
  display: inline-block;
  padding: 1rem 2rem 1rem 1rem;
}

nav ul li a {
  text-decoration: none;
  color: white;
  margin-right: 1rem;
  text-transform: uppercase;
}

#vespa {
  float: left;
  width: 30vw;
  margin: 0 2rem 2rem;
  border-radius: 3px;
}

.about_text {
  margin: 2rem;
  line-height: 1.6rem;
}