h2, p {
  margin-bottom: 1rem;
}

.post_items {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin: 2rem;
}

.post_item {
  position: relative;
  background-color: #FAF7FF;
  color: black;
  border: 1px solid #333333;
  padding: 2rem;
  box-shadow: 0 3px 5px #333333;
  height: 75vh;
  overflow: scroll;
}

img {
  width: 100%;
  margin-bottom: 1rem;
  box-shadow: 0 0 3px #4A4857;
}

.read_more {
  padding: .5rem;
  border-radius: 5px;
  box-shadow: 0 2px 2px #4A4857;
  color: black;
  background-color: #8685EF;
}