@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

main {
  background-color: #F1FAFF;
}

@media (max-width: 600px) {
  body {
    border-top: 0 solid #F1FAFF;
  }
}

