p:nth-child(3) {
  font-style: italic;
}

.cards {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin: 2rem;
}

.card {
  position: relative;
  background-color: whitesmoke;
  border: 1px solid #BDBDBD;
  padding: 2rem;
  box-shadow: 0 3px 5px #BDBDBD;
  min-height: 50vh;
}

img {
  width: 100%;
  height: auto;
  box-shadow: 0 0 10px #BDBDBD, 0 0 20px #BDBDBD;
}

button {
  padding: 1rem;
  font-size: medium;
  border: none;
  color: white;
  background-color: #005A34;
  border-radius: 20px;
  box-shadow: 0 0 2px #BDBDBD;
}

button:hover, .like_container:hover  {
  cursor: pointer;
  box-shadow: 5px 5px 5px #BDBDBD,
  2px 2px 5px #BDBDBD;
}

.like_container {
  display: block;
  margin-top: 1rem;
}

.trash {
  position: absolute;
  right: 1rem;
  top: 1rem;
}