.circle {
  display: inline-block;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 3rem 1.5rem;
  box-shadow: 0 0 5px #333;
}

.circle {
  cursor: pointer;
}

.circle.active {
  background: url('sheep.svg');
}