@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

h1 {
  margin: 10vh auto;
}

button {
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  margin: 1rem;
  padding: 0.8rem;
  border: 1px solid rgb(34,193,195);
  box-shadow: 0 2px 2px rgb(34,193,195);
  border-radius: 2px;
}

button:hover {
  cursor: pointer;
}

.speedgame {
  text-align: center;
}

