@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

h1 {
  margin: 15vh auto 3vh;
  color: white;
  font-size: x-large;
  font-weight: bolder;
}

p {
  line-height: 2rem;
  color: white;
}

button {
  width: 15vw;
  font-family: 'Press Start 2P', cursive;
  background-color: rgb(253,187,45);
  text-transform: uppercase;
  margin: 1rem;
  padding: 0.8rem;
  border: 2px solid #A83900;
  box-shadow: 0 3px 3px #A83900;
  border-radius: 25px;
}

button:hover {
  cursor: pointer;
}

.speedgame {
  text-align: center;
}

span {
  color: #A83900;
  font-size: x-large;
}
