@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  background: url('Circle/sheep.svg') no-repeat center center fixed;
  font-family: 'Press Start 2P', cursive;

  background-color: rgb(253, 187, 45);
}
