@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');

body {
  background: url('Circle/sheep.svg') no-repeat center center fixed;
  font-family: 'Changa One', cursive;

  background-color: rgb(253, 187, 45);
}
